a {
  cursor: pointer;
}
img {
  display: block;
}
.form-control {
  height: 42px;
}
.container {
  width: 1230px;
}
.spr {
  background: url(../img/spr.png) no-repeat;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?44766142#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-search:before {
  content: '\e800';
}
/* '' */
.icon-heart-empty:before {
  content: '\e801';
}
/* '' */
.icon-heart:before {
  content: '\e802';
}
/* '' */
.icon-star:before {
  content: '\e803';
}
/* '' */
.icon-star-empty:before {
  content: '\e804';
}
/* '' */
.icon-star-half:before {
  content: '\e805';
}
/* '' */
.icon-star-half-alt:before {
  content: '\e806';
}
/* '' */
.icon-thumbs-up:before {
  content: '\e807';
}
/* '' */
.icon-thumbs-down:before {
  content: '\e808';
}
/* '' */
.icon-thumbs-up-alt:before {
  content: '\e809';
}
/* '' */
.icon-thumbs-down-alt:before {
  content: '\e80a';
}
/* '' */
.icon-plus:before {
  content: '\e80b';
}
/* '' */
.icon-minus:before {
  content: '\e80c';
}
/* '' */
.icon-lock:before {
  content: '\e80d';
}
/* '' */
.icon-lock-open:before {
  content: '\e80e';
}
/* '' */
.icon-lock-open-alt:before {
  content: '\e80f';
}
/* '' */
.icon-link:before {
  content: '\e810';
}
/* '' */
.icon-unlink:before {
  content: '\e811';
}
/* '' */
.icon-eye:before {
  content: '\e812';
}
/* '' */
.icon-comment:before {
  content: '\e813';
}
/* '' */
.icon-chat:before {
  content: '\e814';
}
/* '' */
.icon-comment-empty:before {
  content: '\e815';
}
/* '' */
.icon-chat-empty:before {
  content: '\e816';
}
/* '' */
.icon-cog:before {
  content: '\e817';
}
/* '' */
.icon-cog-alt:before {
  content: '\e818';
}
/* '' */
.icon-calendar-empty:before {
  content: '\e819';
}
/* '' */
.icon-calendar:before {
  content: '\e81a';
}
/* '' */
.icon-login:before {
  content: '\e81b';
}
/* '' */
.icon-logout:before {
  content: '\e81c';
}
/* '' */
.icon-down-open:before {
  content: '\e81d';
}
/* '' */
.icon-left-open:before {
  content: '\e81e';
}
/* '' */
.icon-right-open:before {
  content: '\e81f';
}
/* '' */
.icon-up-open:before {
  content: '\e820';
}
/* '' */
.icon-cw:before {
  content: '\e821';
}
/* '' */
.icon-ccw:before {
  content: '\e822';
}
/* '' */
.icon-arrows-cw:before {
  content: '\e823';
}
/* '' */
.icon-vimeo-circled:before {
  content: '\e824';
}
/* '' */
.icon-twitter-circled:before {
  content: '\e825';
}
/* '' */
.icon-facebook-circled:before {
  content: '\e826';
}
/* '' */
.icon-facebook-squared:before {
  content: '\e827';
}
/* '' */
.icon-facebook:before {
  content: '\e828';
}
/* '' */
.icon-user:before {
  content: '\e829';
}
/* '' */
.icon-gplus-circled:before {
  content: '\e82a';
}
/* '' */
.icon-pinterest:before {
  content: '\e82b';
}
/* '' */
.icon-pinterest-circled:before {
  content: '\e82c';
}
/* '' */
.icon-tumblr:before {
  content: '\e82d';
}
/* '' */
.icon-tumblr-circled:before {
  content: '\e82e';
}
/* '' */
.icon-linkedin:before {
  content: '\e82f';
}
/* '' */
.icon-linkedin-circled:before {
  content: '\e830';
}
/* '' */
.icon-vimeo:before {
  content: '\e831';
}
/* '' */
.icon-twitter:before {
  content: '\e832';
}
/* '' */
.icon-renren:before {
  content: '\e833';
}
/* '' */
.icon-sina-weibo:before {
  content: '\e834';
}
/* '' */
.icon-paypal:before {
  content: '\e835';
}
/* '' */
.icon-picasa:before {
  content: '\e836';
}
/* '' */
.icon-github:before {
  content: '\e837';
}
/* '' */
.icon-github-circled:before {
  content: '\e838';
}
/* '' */
.icon-flickr:before {
  content: '\e839';
}
/* '' */
.icon-flickr-circled:before {
  content: '\e83a';
}
/* '' */
.icon-evernote:before {
  content: '\e83b';
}
/* '' */
.icon-dropbox:before {
  content: '\e83c';
}
/* '' */
.icon-instagram:before {
  content: '\e83d';
}
/* '' */
.icon-qq:before {
  content: '\e83e';
}
/* '' */
.icon-share:before {
  content: '\e83f';
}
/* '' */
.icon-user-1:before {
  content: '\e840';
}
/* '' */
.icon-gplus:before {
  content: '\e841';
}
/* '' */
.icon-location:before {
  content: '\e842';
}
/* '' */
.icon-gplus-squared:before {
  content: '\e843';
}
/* '' */
.icon-googleplus:before {
  content: '\e844';
}
/* '' */
.icon-ok:before {
  content: '\e845';
}
/* '' */
.icon-cancel:before {
  content: '\e846';
}
/* '' */
/* 头部 
============================================================= */
.header {
  width: 100%;
  height: 65px;
  border-bottom: 1px solid #dddddd;
  background-color: #fff;
}
.header a {
  color: #b1b1b1;
}
.header .header-logo {
  float: left;
  width: 152px;
  height: 64px;
  overflow: hidden;
}
.header .header-nav {
  float: left;
  padding-top: 22px;
  padding-left: 2px;
}
.header .header-nav li {
  display: inline-block;
  float: left;
  height: 43px;
  padding: 3px 0;
  z-index: 1;
}
.header .header-nav li.active {
  border-bottom: 4px solid #b0b0b0;
}
.header .header-nav a {
  display: block;
  padding: 0 25px;
  border-left: 1px solid #b0b0b0;
  font-size: 16px;
  z-index: 1;
}
.header .header-login {
  float: right;
  padding-top: 24px;
}
.header .header-login li {
  position: relative;
  display: inline-block;
  float: left;
  padding: 0 0 0 15px;
  margin-left: 15px;
  font-size: 16px;
}
.header .header-login a {
  display: inline-block;
  color: #0077be;
}
.logined-box .header-login {
  padding-top: 16px;
}
.logined-box .header-login li {
  margin-left: 4px;
}
.logined-box .header-login a {
  font-size: 13px;
}
.logined-box .header-login a.button-blue {
  color: #ffffff;
}
.logined-box .header-login .user-link {
  display: inline-block;
  float: left;
  width: 33px;
  height: 33px;
}
.logined-box .header-login .user-link img {
  position: relative;
  border-radius: 4px;
}
.header .header-drop-down:before {
  content: "";
  display: block;
  position: absolute;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid rgba(0, 0, 0, 0.8);
  height: 8px;
  top: -16px;
  left: 50%;
  margin-left: 24px;
}
.header .header-drop-down {
  display: none;
  position: absolute;
  top: 44px;
  left: -68px;
  width: 136px;
  height: 211px;
  background-color: rgba(0, 0, 0, 0.8);
  background-color: #454545\9;
  z-index: 91;
}
.header .header-drop-down li {
  width: 100%;
  padding: 14px 21px 14px 21px;
  margin: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.36);
}
.header .header-drop-down li.last {
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
}
.header .header-drop-down a {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
}
.header .header-drop-down a:hover {
  color: #30c5e5;
}
.header .show-drop-down .header-drop-down {
  display: block;
}
.header .header-search {
  float: right;
  width: 171px;
  height: 34px;
  margin-top: 16px;
}
.header .header-search input {
  height: 33px;
  padding-top: 10px;
  padding-left: 35px;
  border-radius: 30px;
  background-color: #fdfdfd;
  background-position: -466px -251px;
  color: #5e5b5b;
}
/* footer */
.footer {
  width: 100%;
  height: 143px;
  background: #0e0e0e;
  overflow: hidden;
}
.footer-link {
  width: 100%;
  height: 12px;
  margin-top: 36px;
  overflow: hidden;
  line-height: 12px;
}
.footer-link li {
  display: inline;
  height: 12px;
  line-height: 10px;
  padding: 0px;
}
.footer-link a {
  padding: 0 15px;
  font-size: 12px;
  color: #fff;
  border-right: 1px solid #fff;
  line-height: 10px;
}
.footer .copy-right {
  float: left;
  padding: 0 15px;
  font-size: 12px;
  color: #fff;
}
.footer .copy-right a {
  padding: 0 8px;
  color: #fff;
}
.footer .connect-dji {
  float: right;
}
.button {
  padding: 12px 13px 8px 13px;
  border-radius: 4px;
  cursor: pointer;
}
.button-green {
  background-color: #5abe00;
  color: #ffffff;
}
.button-blue {
  background-color: #00abd0;
  color: #ffffff;
}
.button-upload {
  background-color: rgba(0, 150, 255, 0.9);
  background-color: #0096ff\9;
  color: #ffffff;
}
.comment {
  width: 100%;
  margin-top: 35px;
}
.comment-title {
  width: 100%;
  height: 35px;
}
.comment-title .text {
  font-size: 16px;
  color: #959595;
  text-transform: uppercase;
  font-weight: bold;
}
.comment-title .num {
  display: inline-block;
  padding: 3px 12px 0 12px;
  margin-left: 10px;
  font-size: 14px;
  background-color: #959595;
  border-radius: 4px;
  color: #FFF;
}
.comment-more a {
  display: block;
  float: right;
  color: #959595;
}
.comment-cell {
  position: relative;
  width: 100%;
  padding-top: 15px;
  border-top: 1px solid #e5e5e5;
  overflow: hidden;
}
.comment-cell .user-img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 55px;
  padding: 15px 0;
}
.comment-cell .reply-msg {
  float: left;
  width: 100%;
  min-height: 85px;
  padding: 0 0 0 70px;
  font-size: 14px;
}
.comment-cell .reply-msg textarea.form-control {
  border-radius: 0px;
  background-color: #eeeeee;
}
.comment-cell .reply-btn {
  display: block;
  margin: 10px auto 0 auto;
  width: 400px;
  height: 34px;
  background-color: #bfbfbf;
  border-radius: 4px;
  line-height: 34px;
  text-align: center;
  color: #fff;
  font-weight: bold;
}
.comment-cell .del-btn {
  display: block;
  position: absolute;
  bottom: 8px;
  right: 5px;
  width: 18px;
  height: 17px;
  background-position: -474px -215px;
  line-height: 300px;
  overflow: hidden;
}
.comment-cell .button-green {
  float: right;
  margin: 13px 0 19px 0;
}
.comment-cell .reply-msg-left {
  float: left;
  width: 175px;
  padding-left: 16px;
}
.comment-cell .reply-msg-left p {
  margin-bottom: 4px;
}
.comment-cell .reply-msg-left .name-line {
  color: #434343;
  font-weight: bold;
}
.comment-cell .reply-msg-left .time-line {
  color: #959595;
}
.comment-cell .reply-msg-left .icon-btn {
  display: block;
  color: #707070;
}
.comment-cell .reply-msg-left .icon-btn .icon-thumbs-up-alt {
  float: left;
  font-size: 16px;
  color: #19b3d5;
}
.comment-cell .reply-msg-left .icon-btn .num {
  display: inline-block;
  float: left;
  padding-left: 4px;
  line-height: 22px;
}
.comment-cell .reply-msg-right {
  color: #707070;
}
.pop-mask {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .5;
  filter: alpha(opacity=50);
  z-index: 99998;
}
.pop.small {
  width: 642px;
  margin-left: -321px;
}
.pop.normal {
  width: 800px;
  margin-left: -400px;
}
.pop.large {
  width: 998px;
  margin-left: -499px;
}
.pop {
  position: absolute;
  top: 10%;
  left: 50%;
  padding: 25px;
  background-color: #FFFFFF;
  color: #626262;
  z-index: 99999;
}
.pop .pop-close {
  position: absolute;
  right: 4px;
  top: 8px;
  font-size: 18px;
  color: #9f9f9f;
}
.pop .pop-title {
  width: 100%;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}
.pop .pop-cont {
  padding: 25px 0;
  line-height: 24px;
}
.pop .pop-cont-title {
  font-size: 14px;
  margin-bottom: 8px;
  font-weight: bold;
}
.pop .pop-cont-text,
.pop .pop-cont-other {
  font-size: 12px;
  line-height: 20px;
}
.pop .pop-cont-other {
  margin-top: 8px;
}
.pop .pop-btns {
  width: 100%;
  padding-top: 25px;
  border-top: 1px solid #d6d6d6;
  text-align: right;
}
.pop .pop-btns.top {
  padding-top: 14px;
  padding-bottom: 25px;
  border: none;
  border-bottom: 1px solid #d6d6d6;
}
.pop .pop-btns .button {
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 8px;
}
.pop .pop-btns .pop-btns-title {
  float: left;
  padding: 12px 0 8px 0;
}
.search-warp {
  width: 100%;
  padding-top: 35px;
}
.search-warp h2 {
  float: left;
  margin: 0px;
  padding: 2px 0 0 0;
}
.search-warp .note {
  display: inline-block;
  margin: 0 5px 0 15px;
  padding: 10px 5px 5px 5px;
  font-size: 14px;
}
.search-nav {
  float: left;
  width: 100%;
  height: 65px;
  padding-top: 22px;
  margin-bottom: 18px;
  border-bottom: 1px solid #dddddd;
}
.search-nav li {
  display: inline-block;
  float: left;
  height: 43px;
  padding: 3px 0;
  z-index: 1;
}
.search-nav li.active {
  border-bottom: 4px solid #b0b0b0;
}
.search-nav li.active a {
  color: #000;
}
.search-nav a {
  display: block;
  padding: 0 25px;
  border-right: 1px solid #b0b0b0;
  font-size: 16px;
  z-index: 1;
  color: #b1b1b1;
}
.search-nav a.last {
  border: none;
}
.page.account {
  width: 100%;
  padding: 32px 0 45px 0;
  background-color: #f4f4f4;
}
.page.account .container {
  width: 990px;
}
.account-warp {
  position: relative;
  width: 100%;
  min-height: 371px;
  padding: 70px 110px 45px 90px;
  border: 1px solid #dcdcdc;
  background-color: #fff;
  overflow: hidden;
}
.account-warp h1 {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  padding: 23px 0px 18px 90px;
  margin: 0;
  border-bottom: 1px solid #d6d6d6;
  font-size: 24px;
  color: #434343;
}
.account-warp .account-text {
  position: absolute;
  top: -35px;
  left: 0px;
  padding-bottom: 20px;
  font-size: 14px;
  color: #898989;
}
.account-warp .form-control {
  font-family: Arial;
  font-size: 20px;
}
.account-warp .login-quick,
.account-warp .account-form {
  margin-top: 50px;
}
.account-warp .login-quick {
  position: relative;
  float: left;
  width: 330px;
  padding-right: 78px;
  border-right: 1px solid #d6d6d6;
}
.account-warp .login-quick-link {
  display: block;
  width: 252px;
  height: 49px;
  line-height: 300px;
  margin-bottom: 9px;
  overflow: hidden;
}
.account-warp .login-quick-link.fb {
  background-position: 0 0;
}
.account-warp .login-quick-link.tw {
  background-position: 0 -50px;
}
.account-warp .login-quick-link.gg {
  background-position: 0 -100px;
}
.account-warp .login-quick-link.wb {
  background-position: 0 -150px;
}
.account-warp .account-form {
  position: relative;
  float: left;
  width: 328px;
  margin-left: 100px;
}
.account-warp .account-form .title {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #7d7d7d;
}
.account-warp .account-form .form-control {
  border-radius: 2px;
  color: #959595;
}
.account-warp .button-submit,
.account-warp .button-login,
.account-warp .button-signup {
  width: 100%;
  padding: 15px 0;
  text-align: center;
  font-size: 18px;
}
.account-warp .account-form-other p {
  padding-top: 18px;
  font-size: 12px;
  color: #7d7d7d;
}
.account-warp .account-form-other p a {
  font-size: 12px;
  color: #00abd0;
}
.account-forgot-pwd {
  width: 100%;
  padding-top: 25px;
}
.account.forgot-pwd .account-warp {
  width: 505px;
  margin: 0 auto;
  padding: 70px 90px 45px 90px;
}
.account-forgot-pwd .form-group {
  width: 450px;
}
.account-forgot-pwd .title {
  margin-bottom: 20px;
  font-size: 14px;
  color: #959595;
  font-weight: normal;
}
.account-forgot-pwd .account-form-other {
  width: 450px;
}
.account-forgot-pwd .account-send-msg {
  position: relative;
  width: 450px;
  min-height: 126px;
  padding: 33px 33px 33px 125px;
  border-radius: 4px;
  background-color: #deeef2;
  color: #00abd0;
}
.account-forgot-pwd .account-send-msg i {
  position: absolute;
  top: 35px;
  left: 26px;
  font-size: 54px;
  color: #00abd0;
}
.account-forgot-pwd .account-send-msg p {
  line-height: 30px;
}
.account-forgot-pwd .account-send-msg.success,
.account-forgot-pwd .account-send-msg.failed {
  display: none;
}
.account-forgot-pwd .account-send-msg.failed {
  width: 450px;
  padding-left: 33px;
  text-align: center;
}
.account-forgot-pwd.status-success .account-send-msg.success,
.account-forgot-pwd.status-failed .account-send-msg.failed {
  display: block;
}
.account-forgot-pwd.status-success .confirmation,
.account-forgot-pwd.status-failed .confirmation {
  display: none;
}
.email-failed {
  padding-top: 120px;
  text-align: center;
  color: #7d7d7d;
}
.email-failed .failed-text {
  width: 615px;
  margin: 0 auto;
  padding-left: 85px;
  text-align: left;
  line-height: 20px;
}
.email-failed .failed-ico {
  display: block;
  float: left;
  width: 34px;
  height: 32px;
  margin-right: 20px;
  background-position: -426px -243px;
}
.email-failed .buttons-line {
  padding: 33px 0;
}
.account.signup-success h2 {
  padding-left: 0px;
  padding-bottom: 50px;
  text-align: center;
  border-bottom: 1px solid #d6d6d6;
}
.account.signup-success .account-warp {
  padding: 75px 160px 45px 160px;
}
.account-signup-success {
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
}
.account-signup-success p {
  padding-top: 40px;
  line-height: 25px;
  color: #959595;
}
.account.signup-success .icon-ok {
  color: #5abe00;
}
.work-warp {
  position: relative;
  padding-top: 8px;
  overflow: hidden;
}
.work-cell {
  position: relative;
  float: left;
  width: 292px;
  margin: 0 10px 12px 0;
}
.work-cell .work-link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background: #ffffff url(../img/loading.gif) no-repeat center center;
}
.work-cell .work-info-hover {
  display: none;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 75px;
  padding: 8px;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
}
.work-cell .work-score {
  display: none;
  position: absolute;
  left: 12px;
  top: 18px;
  font-size: 24px;
  color: #FFF;
}
.work-cell .work-info {
  width: 100%;
  overflow: hidden;
}
.work-cell .video-play-btn {
  position: absolute;
  width: 49px;
  height: 49px;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  background-position: -203px -226px;
}
.work-cell .work-status {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
}
.work-cell .work-status.rejected {
  background: rgba(0, 0, 0, 0.5);
  font-size: 24px;
  color: #FFF;
}
.work-cell .work-status .text {
  position: absolute;
  display: block;
  top: 49%;
  width: 100%;
  text-align: center;
  overflow: hidden;
}
.work-cell .work-private-status {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 8px 10px 4px 10px;
  background: rgba(0, 0, 0, 0.5);
  background: #000\9;
  color: #FFF;
  border-radius: 4px;
}
.work-cell img {
  display: block;
}
.work-cell p {
  margin-bottom: 4px;
  color: #fff;
}
.work-cell p i {
  color: #5fc5f2;
}
.work-cell p.work-info-title {
  margin: 4px;
  font-weight: bold;
  font-size: 14px;
}
.work-cell p.work-info-artist,
.work-cell p.work-info-location,
.work-cell p.work-info-date {
  font-size: 12px;
}
.work-cell .work-info p {
  margin: 8px 0;
  color: #707070;
}
.work-cell .work-info p.work-info-title {
  margin: 10px 4px 6px 4px;
}
.work-cell .work-info p.work-info-event {
  height: 75px;
  margin: 0 4px;
  font-size: 14px;
  line-height: 20px;
  overflow: hidden;
}
.work-cell .share {
  display: none;
  position: absolute;
  top: 8px;
  right: 8px;
}
.work-cell .share-btn {
  display: block;
  width: 38px;
  height: 38px;
  margin: 0 2px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border: 2px solid #FFF\9;
  background-color: rgba(0, 0, 0, 0.8);
  background-color: #000\9;
  text-align: center;
  border-radius: 30px;
  line-height: 38px;
  overflow: hidden;
  cursor: pointer;
  color: #fff;
}
.work-cell .share-list {
  display: none;
  width: 42px;
  height: 118px;
  padding-top: 5px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}
.work-cell .show .share-list {
  display: block;
}
.work-cell .share-list li {
  display: block;
  width: 21px;
  height: 21px;
  margin: 5px 6px;
}
.work-cell .share-list .share-icon {
  display: block;
  width: 21px;
  height: 21px;
  font-size: 21px;
  color: #fff;
}
.work-cell .work-edit {
  display: none;
  position: absolute;
  left: 0px;
  bottom: 75px;
  width: 100%;
  height: 50px;
  padding: 8px 15px !important;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
}
.work-cell .work-edit .btn {
  display: block;
  width: 44px;
  height: 26px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  color: #FFF;
}
.work-cell .work-edit .btn.edit {
  float: left;
  background-color: rgba(48, 169, 104, 0.5);
}
.work-cell .work-edit .btn.del {
  float: right;
  background-color: rgba(147, 27, 26, 0.5);
}
.work-cell:hover .work-info-hover,
.work-cell:hover .work-score,
.work-cell:hover .share,
.work-cell:hover .work-edit {
  display: block;
}
.work-cell.photo .work-link {
  height: 292px;
}
.work-cell.video .work-link {
  height: 220px;
}
.work-cell.event {
  width: 594px;
}
.work-cell.event .work-link {
  height: 280px;
}
.work-cell.event .work-info p.work-info-title {
  padding: 15px 0 10px 0;
  font-size: 18px;
  color: #434343;
}
.work-cell.event-row {
  width: 100%;
  margin-top: 15px;
}
.work-cell.event-row .work-link {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 216px;
  height: 152px;
  overflow: hidden;
}
.work-cell.event-row .work-info {
  float: left;
  padding-left: 230px;
  min-height: 156px;
  _height: 156px;
}
.work-cell.event-row .work-info p.work-info-title {
  margin-top: 0px;
  font-size: 18px;
  font-weight: bold;
}
.work-cell.event-row .work-info p.work-info-event {
  padding-bottom: 30px;
  height: auto;
}
.work-cell.event-row .work-info a.button {
  position: absolute;
  bottom: 0px;
  left: 234px;
  padding: 6px 5px 4px 5px;
  border-radius: 2px;
}
.work-cell.event-photo {
  width: 216px;
  height: 216px;
}
.work-cell.event-video {
  width: 216px;
  height: 162px;
}
.work-cell.event-photo .work-edit,
.work-cell.event-video .work-edit {
  bottom: 0px;
}
.work-cell.size1x1,
.work-cell.size1x2,
.work-cell.size2x1 {
  position: absolute;
}
.work-cell.size1x1 {
  width: 292px;
  height: 292px;
  overflow: hidden;
}
.work-cell.size1x2 {
  width: 292px;
  height: 594px;
  overflow: hidden;
}
.work-cell.size2x1 {
  width: 594px;
  height: 292px;
  overflow: hidden;
}
.work-cell.cascade_1_1 {
  top: 0px;
  left: 0px;
}
.work-cell.cascade_1_2 {
  top: 302px;
  left: 0px;
}
.work-cell.cascade_1_3 {
  top: 0px;
  left: 301px;
}
.work-cell.cascade_1_4 {
  top: 0px;
  left: 603px;
}
.work-cell.cascade_1_5 {
  top: 302px;
  left: 603px;
}
.work-cell.cascade_1_6 {
  top: 302px;
  left: 905px;
}
.work-cell.cascade_1_7 {
  top: 604px;
  left: 0px;
}
.work-cell.cascade_1_8 {
  top: 604px;
  left: 603px;
}
.work-cell.cascade_1_9 {
  top: 604px;
  left: 905px;
}
.photo-list {
  background-color: #fafafa;
}
.list .list-nav {
  width: 100%;
  height: 76px;
}
.list .list-nav .list-nav-title {
  display: inline-block;
  float: left;
  padding: 9px 18px 6px 18px;
  margin-top: 20px;
  background-color: #f6fafa;
  border: 1px solid #f0f1f1;
  font-size: 25px;
  color: #434343;
}
.list .list-nav ul {
  float: right;
  text-align: right;
  margin-top: 28px;
}
.list .list-nav li {
  display: inline-block;
  height: 34px;
  padding: 10px 15px;
  overflow: hidden;
}
.list .list-nav li.active {
  border-bottom: 2px solid #a0a0a0;
}
.list .list-nav li a {
  color: #7d7d7d;
  text-transform: uppercase;
}
.list .list-nav li.active a {
  color: #1b1b1b;
}
.list .more-link {
  width: 100%;
  height: 52px;
}
.list .more-link a {
  display: block;
  float: right;
  width: 57px;
  height: 24px;
  margin-top: 10px;
  color: #959595;
  background-position: -196px -201px;
  line-height: 27px;
}
.list.photo-list .list-nav .list-nav-title {
  background-color: #ebeeee;
  border-color: #e0e1e2;
}
/* work-single */
.work-single-top {
  width: 100%;
  min-height: 524px;
  padding-top: 15px;
  background: #000;
}
.work-single-cont {
  position: relative;
}
.work-single-info {
  width: 100%;
  height: 65px;
  border-top: 1px solid #ddddde;
  border-bottom: 1px solid #ddddde;
  background: #eeeeef;
}
.work-single-title {
  position: relative;
  float: left;
  width: 478px;
  padding-top: 5px;
  padding-left: 56px;
  font-size: 18px;
  color: #1b1b1b;
}
.work-single-title .title-text {
  display: inline-block;
  float: left;
  width: 100%;
  padding: 8px 0 0 10px;
  font-size: 18px;
  color: #000;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
  text-transform: uppercase;
}
.work-single-title .work-user-name {
  display: block;
  padding: 5px 0 0 10px;
  font-size: 14px;
  color: #535353;
  text-transform: uppercase;
  overflow: hidden;
}
.work-single-title .work-user-img {
  position: absolute;
  top: 5px;
  left: 0px;
  width: 56px;
  height: 53px;
  border-radius: 6px;
  overflow: hidden;
}
.work-single-title .work-user-img .vip-vote {
  display: none;
  position: absolute;
  width: 27px;
  height: 22px;
  top: 0px;
  left: 0px;
  background-position: -426px -192px;
}
.work-single-title .work-user-img.vip .vip-vote {
  display: block;
}
.work-user-info-warp {
  display: none;
  position: absolute;
  top: -35px;
  left: 102px;
  width: 435px;
  min-height: 145px;
  padding: 12px 35px;
  background-color: rgba(255, 255, 255, 0.95);
  background-color: #fff \9;
  border-radius: 6px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid #eeeeee;
}
.work-user-info-warp.show {
  display: block;
}
.work-user-info-warp:before {
  content: "";
  display: block;
  position: absolute;
  border-bottom: 18px solid transparent;
  border-top: 18px solid transparent;
  border-right: 18px solid rgba(255, 255, 255, 0.95);
  border-right: 18px solid #FFF \9;
  height: 0px;
  top: 45px;
  left: -18px;
  margin-top: -9px;
}
.work-user-info .info-text {
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 16px;
  color: #707070;
}
.work-user-info .other-list {
  position: relative;
  width: 100%;
}
.work-user-info .other-list .list-warp {
  width: 100%;
  overflow: hidden;
}
.work-user-info .other-list li {
  display: inline-block;
  float: left;
  width: 66px;
  height: 66px;
  margin-right: 8px;
  overflow: hidden;
}
.work-user-info .other-list .btn {
  position: absolute;
  top: 50%;
  width: 11px;
  height: 21px;
  margin-top: -8px;
}
.work-user-info .other-list .btn.prev {
  left: -25px;
  background-position: -426px -215px;
}
.work-user-info .other-list .btn.next {
  right: -23px;
  background-position: -438px -215px;
}
.work-single-toolbar {
  float: right;
  height: 65px;
  padding-top: 24px;
}
.work-single-toolbar .widget li {
  display: inline-block;
  float: left;
  position: relative;
  height: 16px;
  padding: 0 16px;
  border-right: 2px solid #959595;
}
.work-single-toolbar .widget-score {
  font-size: 24px;
}
.work-single-toolbar .icon {
  display: inline-block;
  color: #959595;
  font-size: 18px;
}
.work-single-toolbar .icon.active {
  color: #17b2d3;
}
.work-single-toolbar .icon-zoom-in {
  width: 18px;
  height: 18px;
  background-position: -474px -181px;
}
.work-single-toolbar .icon-zoom-out {
  width: 18px;
  height: 18px;
  background-position: -474px -161px;
}
/* 评分模块 
=====================================================*/
.mod-rate {
  overflow: hidden;
}
.mod-rate .icon-star {
  float: left;
  cursor: pointer;
  color: #959595;
}
.mod-rate .icon-star.active {
  color: #ff7b06;
}
/* 全星级样式 */
.level-1 .star-1,
.level-2 .star-1,
.level-2 .star-2,
.level-3 .star-1,
.level-3 .star-2,
.level-3 .star-3,
.level-4 .star-1,
.level-4 .star-2,
.level-4 .star-3,
.level-4 .star-4,
.level-5 .star-1,
.level-5 .star-2,
.level-5 .star-3,
.level-5 .star-4,
.level-5 .star-5 {
  color: #ff7b06;
}
/* 分享模块 */
.share-links-warp {
  position: absolute;
  width: 232px;
  padding: 15px;
  top: -88px;
  left: -88px;
  background-color: rgba(255, 255, 255, 0.95);
  background-color: #fff\9;
  border-radius: 6px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid #eeeeee;
}
.share-links-warp:before {
  content: "";
  display: block;
  position: absolute;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid rgba(255, 255, 255, 0.95);
  border-top: 8px solid #FFF \9;
  height: 8px;
  bottom: -16px;
  left: 50%;
  margin-left: -6px;
}
.share-links .share-icons {
  display: inline-block;
  float: left;
  width: 40px;
  height: 40px;
  margin: 0 5px;
  border-radius: 4px;
  line-height: 45px;
  text-align: center;
}
.share-links .share-icons i {
  color: #fff;
  font-size: 18px;
}
.share-links .share-icons.tw {
  background-color: #33ccff;
}
.share-links .share-icons.fb {
  background-color: #385993;
}
.share-links .share-icons.wb {
  background-color: #d72829;
}
.share-links .share-icons.gg {
  background-color: #e46044;
}
.work-single-bot {
  width: 100%;
  min-height: 500px;
  margin: 25px 0;
  font-size: 14px;
}
.work-single-bot .left-cont {
  float: left;
  width: 904px;
  height: 100%;
  padding-right: 25px;
  border-right: 1px solid #E5E5E5;
}
.work-single-bot .right-cont {
  float: right;
  width: 296px;
  height: 100%;
  padding-left: 30px;
}
.work-single-desc {
  width: 100%;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
.work-single-desc .title {
  width: 100%;
  margin-bottom: 10px;
  color: #7D7D7D;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
.work-single-desc .text {
  width: 100%;
  font-size: 14px;
  color: #626262;
  text-align: justify;
  line-height: 18px;
}
.work-single-append {
  width: 100%;
  color: #626262;
  line-height: 22px;
  overflow: hidden;
}
.work-single-userinfo {
  position: relative;
  width: 100%;
  min-height: 100px;
  margin-bottom: 20px;
}
.work-single-userinfo .left {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 74px;
  overflow: hidden;
}
.work-single-userinfo .left img {
  display: block;
  margin-bottom: 6px;
}
.work-single-userinfo .left .vip {
  display: block;
  width: 100%;
  height: 19px;
  background-color: #ff6600;
  color: #FFF;
  line-height: 19px;
  text-align: center;
}
.work-single-userinfo .right {
  width: 100%;
  padding-left: 84px;
}
.work-single-userinfo .right .name {
  padding-bottom: 8px;
  font-size: 14px;
  color: #000;
  font-weight: bold;
}
.work-single-userinfo .right .intro {
  font-size: 12px;
  color: #707070;
}
.work-single-userwork {
  width: 100%;
  padding-bottom: 13px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
}
.work-single-userwork.no-border {
  border: none;
}
.work-single-userwork .title {
  width: 100%;
  padding-bottom: 18px;
  color: #7d7d7d;
  overflow: hidden;
}
.work-single-userwork ul {
  width: 105%;
}
.work-single-userwork li {
  display: inline-block;
  float: left;
  width: 82px;
  height: 82px;
  margin: 0 10px 10px 0;
}
.work-single-tags {
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
}
.work-single-tags .title {
  padding-bottom: 12px;
  font-size: 16px;
  color: #7d7d7d;
  font-weight: bold;
  text-transform: uppercase;
  overflow: hidden;
}
.work-single-tags .links {
  color: #a0a0a0;
  line-height: 20px;
  font-size: 14px;
}
.work-single-tags .links a {
  color: #a0a0a0;
}
.work-single-tags .links a:hover {
  color: #7d7d7d;
}
.work-single-tags .links span {
  display: inline-block;
  padding: 0 12px;
}
/* 样式重置 */
.fullscreen .btn-prev {
  left: 10px;
}
.fullscreen .btn-next {
  right: 10px;
}
.fullscreen .title-text,
.fullscreen .work-user-name {
  color: #FFF;
}
.fullscreen {
  background-color: #000;
}
.fullscreen-header {
  width: 100%;
  padding: 20px 60px 0;
}
.fullscreen-img-wrapper {
  position: relative;
  height: 100%;
  padding: 80px 60px;
  text-align: center;
}
.fullscreen-img {
  display: none;
}
.fullscreen-toolbar {
  position: absolute;
  width: 100%;
  bottom: 15px;
  left: 0px;
  color: #FFF;
}
.fullscreen-toolbar .work-single-toolbar {
  float: none;
  width: 650px;
  margin: 0 auto;
}
/* manage_header */
.manage-head {
  width: 100%;
}
.manage-head-warp {
  position: relative;
  min-height: 264px;
}
.manage-container {
  position: relative;
}
.manage-head-warp .choose-cover {
  display: block;
  position: absolute;
  width: 147px;
  height: 32px;
  bottom: 13px;
  right: 15px;
  background-color: rgba(0, 0, 0, 0.32);
  text-align: center;
  line-height: 32px;
  font-size: 14px;
  text-transform: uppercase;
  color: #FFF;
}
.manage-uesrinfo {
  width: 100%;
  padding: 45px 0 0 58px;
  overflow: hidden;
}
.manage-userimg {
  float: left;
  width: 171px;
  height: 171px;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.37);
  overflow: hidden;
}
.manage-userintro {
  float: left;
  width: 585px;
  margin-left: 20px;
  color: #FFF;
}
.manage-userintro .userintro-name {
  padding-left: 8px;
  margin-bottom: 9px;
  font-size: 24px;
}
.manage-userintro .userintro-text-box {
  width: 100%;
  padding: 2px 10px;
  background-color: rgba(0, 0, 0, 0.5);
}
.manage-userintro .userintro-text-box p {
  margin: 6px 0;
  line-height: 20px;
  font-size: 14px;
}
.manage-userintro .userintro-btns-box {
  width: 100%;
  padding-top: 10px;
}
.manage-userintro .userintro-btns-box .button {
  margin-right: 15px;
}
.show-nav {
  width: 100%;
  height: 115px;
  padding-top: 68px;
}
.show-nav li {
  display: inline-block;
  float: left;
  margin-right: 15px;
}
.show-nav a {
  display: block;
  padding: 10px 15px 8px 15px;
  color: #cccccc;
  border-radius: 4px;
  font-weight: bold;
}
.show-nav a.active {
  background-color: rgba(170, 170, 170, 0.5);
  color: #FFF;
}
.show-nav span {
  display: inline-block;
  margin-left: 6px;
  font-size: 14px;
}
.sidebar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 260px;
  padding-left: 52px;
  z-index: 22;
}
.sidebar-upload {
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid #cfcfcf;
}
.sidebar-upload .button-upload {
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.sidebar ul {
  width: 100%;
  padding: 22px 0;
}
.sidebar li {
  width: 100%;
  height: 47px;
  margin-bottom: 8px;
  line-height: 47px;
}
.sidebar li a {
  display: block;
  width: 100%;
  height: 100%;
  padding-left: 25px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: bold;
  color: #535353;
}
.sidebar li a:hover {
  background-color: #e3e7eb;
}
.sidebar li a.active,
.sidebar li a.active:hover {
  background-color: #2a3b55;
  color: #FFF;
}
.manage-pagecont {
  position: relative;
  width: 100%;
  height: auto;
  padding-left: 277px;
  z-index: 21;
}
.manage-pagecont .bg {
  position: absolute;
  width: 500%;
  height: 100%;
  margin-left: -500%;
  background-color: #f4f4f4;
}
.manage-pagecont-warp {
  min-height: 523px;
  padding: 25px 0 25px 26px;
  overflow: hidden;
}
.manage-pagecont-warp fieldset {
  border: none;
  border-top: 1px dotted #c4c4c4;
}
.manage-pagecont-warp legend {
  padding-right: 10px;
  background-color: #FFF;
  font-size: 18px;
  color: #666666;
  font-weight: bold;
}
.manage-tab {
  padding: 14px 0 40px 0;
  border-bottom: 1px solid #d6d6d6;
  color: #000;
  font-size: 20px;
}
.manage-tab .tab-item {
  float: left;
  height: 41px;
  line-height: 20px;
  color: #626262;
}
.manage-tab .tab-item a {
  padding: 0 20px;
  font-size: 18px;
  cursor: pointer;
  color: #626262;
  border-right: 1px solid #b0b0b0;
}
.manage-tab .tab-item.last a {
  border-right: none;
}
.manage-tab .tab-item.active {
  border-bottom: 2px solid #a0a0a0;
}
.manage-tab .tab-item.active a {
  color: #1b1b1b;
}
.private-status {
  text-align: right;
  padding: 15px 0 0 0;
  margin: 0px;
  font-size: 14px;
}
.private-status .label-radio {
  width: 78px;
  font-weight: normal;
  cursor: pointer;
}
.my-profile {
  margin-bottom: 35px;
}
.my-profile .control-label {
  padding-top: 11px;
  font-size: 16px;
  color: #707070;
}
.my-profile .user-face {
  float: left;
  margin-right: 22px;
}
.my-profile .form-control {
  height: 41px;
}
.my-profile textarea.form-control {
  height: auto;
}
.my-profile .form-group {
  padding: 15px 0;
  margin: 0px;
  border-bottom: 1px solid #c4c4c4;
}
.my-profile .form-group label {
  font-size: 14px;
  color: #707070;
}
.my-profile .form-group label.label-radio {
  padding-right: 15px;
  cursor: pointer;
}
.my-profile .form-group .single-line {
  width: 100%;
  margin-bottom: 15px;
  overflow: hidden;
}
.my-profile .form-group .single-line p {
  padding-top: 8px;
  font-size: 12px;
}
.my-profile .form-group .single-line a {
  color: #189ffe;
  text-decoration: underline;
}
.my-profile .form-group .input-margin-bottom {
  margin-bottom: 4px;
}
.my-profile .form-group .add-btn {
  display: block;
  position: absolute;
  right: -28px;
  bottom: 12px;
  width: 25px;
  height: 25px;
  background: #b5b5b5;
  border-radius: 4px;
  line-height: 30px;
  text-align: center;
  overflow: hidden;
  color: #fff;
}
.my-profile .form-group .email-line {
  position: relative;
}
.my-profile .form-group .email-line .mark {
  position: absolute;
  top: 8px;
  right: -24px;
  width: 24px;
  height: 24px;
  background-position: -178px -251px;
}
.my-profile .profile-avatar {
  padding: 52px 0 42px 0;
  margin: 0px;
}
.my-profile .profile-avatar .button {
  float: left;
  width: 208px;
  height: 37px;
  padding: 0px;
  margin-bottom: 15px;
  font-size: 14px;
  text-align: center;
  line-height: 40px;
}
.my-profile .profile-avatar p {
  float: left;
  font-size: 12px;
}
.my-profile .save-btn-line {
  border: none;
}
.my-profile .save-btn-line a.button {
  float: right;
}
.experience-warp {
  width: 100%;
  padding: 62px 0 62px 76px;
  overflow: hidden;
}
.experience a {
  float: left;
  height: 33px;
}
.experience p {
  display: block;
  float: left;
  padding: 12px 0 18px 0;
  font-size: 14px;
  color: #707070;
}
.experience a.button {
  margin-left: 12px;
  padding: 12px 13px 8px 13px;
  padding-left: 6px;
  font-size: 12px;
}
.experience a.button i {
  margin-right: 4px;
}
.experience .account-btn {
  display: block;
  width: 132px;
  background-color: #656565;
  color: #fff;
  line-height: 36px;
  border-radius: 4px;
  font-size: 12px;
  overflow: hidden;
}
.experience .account-btn i {
  font-size: 14px;
  margin: 0 12px 0 8px;
}
.experience .account-btn.fb.active {
  background-color: #5d82d1;
}
.experience .account-btn.gg.active {
  background-color: #eb5e4c;
}
.experience .account-btn.tw.active {
  background-color: #40bff5;
}
.experience .account-btn.wb.active {
  background-color: #d52b2a;
}
.work-edit {
  padding: 20px 0;
  text-align: center;
}
.work-edit img {
  display: inline-block;
}
.work-edit .preview-action {
  text-align: right;
  margin-top: 48px;
}
.work-edit .preview-action a {
  font-size: 12px;
  margin-left: 8px;
}
.work-edit .preview-form {
  margin-top: 30px;
  padding-top: 20px;
  text-align: left;
}
.work-edit .preview-form label {
  font-size: 14px;
  color: #626262;
}
.work-edit .preview-form .label-line {
  display: block;
}
.work-edit .preview-form .input-title {
  display: inline-block;
  width: 315px;
}
.work-edit .preview-form .radio-label {
  margin-left: 20px;
}
.work-edit .preview-form .textarea-desc {
  width: 710px;
}
.work-edit .preview-form .input-tags {
  width: 530px;
}
.my-password .form-group {
  padding: 15px 0 5px 0;
  margin: 0px;
}
.my-password .form-group label {
  font-size: 14px;
  color: #707070;
  padding-top: 11px;
}
.upload-page-bg {
  background-color: rgba(0, 0, 0, 0.75);
}
.upload-page .manage-pagecont-warp {
  padding: 25px 0 25px 16px;
}
.upload {
  width: 846px;
  min-height: 644px;
  margin: 0 auto;
  color: #fff;
}
.upload .upload-tab {
  width: 100%;
  height: 142px;
  border-bottom: 1px solid #808889;
}
.upload .upload-tab .tab-item {
  display: inline-block;
  float: left;
  width: 50%;
  height: 100%;
  padding-top: 52px;
}
.upload .upload-tab .tab-item a.fake-link {
  display: block;
  width: 100%;
  border-right: 1px solid #f2f4f5;
  color: #f2f4f5;
  text-align: center;
  font-size: 42px;
  font-weight: lighter;
}
.upload .upload-tab .tab-item.last a.fake-link {
  border: none;
}
.upload .upload-tab .tab-item.active a.fake-link {
  font-weight: normal;
}
.upload .upload-photo {
  display: none;
  width: 100%;
  padding-top: 137px;
  text-align: center;
}
.upload .upload-photo .button {
  padding: 20px 24px 16px 24px;
  font-size: 30px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.upload .upload-photo .upload-photo-text {
  padding-top: 25px;
  font-size: 18px;
}
.upload .upload-video {
  display: none;
  width: 100%;
  padding-top: 66px;
  text-align: center;
}
.upload .upload-video .upload-video-text {
  font-size: 30px;
  color: #FFF;
}
.upload .upload-video .video-platform {
  width: 100%;
  padding-top: 60px;
  overflow: hidden;
}
.upload .upload-video a {
  display: inline-block;
  width: 172px;
  height: 91px;
  margin: 0 9px;
  line-height: 300px;
  overflow: hidden;
}
.upload .upload-video a.youtube {
  background-position: -253px 0;
}
.upload .upload-video a.vimeo {
  background-position: -253px -92px;
}
.upload .upload-video a.youku {
  background-position: -253px -184px;
}
.upload.show-photo .upload-photo,
.upload.show-video .upload-video {
  display: block;
}
.upload-edit-sidebar {
  position: absolute;
  top: 0px;
  left: 15px;
  width: 255px;
  color: #707070;
  z-index: 22;
}
.upload-edit-sidebar input,
.upload-edit-sidebar textarea {
  font-size: 18px;
  font-weight: bold;
  color: #bfbfbf;
}
.upload-edit-sidebar label {
  font-weight: normal;
}
.upload-edit-sidebar .edit-status {
  width: 100%;
  height: 52px;
  font-size: 18px;
  line-height: 52px;
}
.upload-edit-sidebar .single-line {
  width: 100%;
  margin-bottom: 12px;
}
.upload-edit-sidebar .label-radio {
  width: 40%;
}
.upload-edit-sidebar .button {
  width: 100%;
  margin-bottom: 14px;
  padding-top: 15px 0;
  text-align: center;
  font-size: 18px;
}
.upload-edit-sidebar .button-select {
  background-color: #59bd00;
  color: #fff;
}
.upload-edit-sidebar .button-confirm {
  background-color: #00abd0;
  color: #fff;
}
.upload-cell-warp {
  width: 105%;
}
.upload-work-cell {
  position: relative;
  float: left;
  width: 180px;
  padding: 9px 7px;
  margin-bottom: 24px;
}
.upload-work-cell.video {
  width: 225px;
}
.import-list .upload-work-cell.video {
  margin: 16px 6px 8px 6px;
}
.upload-work-cell .upload-work-img {
  position: relative;
  width: 100%;
  height: 166px;
  border: 4px solid #959595;
  background: #ffffff url(../img/loading.gif) no-repeat center center;
}
.upload-work-cell.video .upload-work-img {
  width: 100%;
  height: 158px;
}
.upload-work-cell .upload-work-img img {
  display: block;
}
.upload-work-cell .upload-work-mask {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .7;
}
.upload-work-cell .upload-work-status {
  display: none;
  position: absolute;
  top: 50%;
  left: 2%;
  width: 96%;
  height: 33px;
  margin-top: -16px;
  line-height: 33px;
  color: #FFF;
  font-size: 18px;
  text-align: center;
}
.upload-work-cell .upload-work-status.error {
  background-color: #8b0202;
}
.upload-work-cell .checked {
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 34px;
  height: 30px;
  background-color: #f39800;
  text-align: center;
  line-height: 30px;
  font-size: 24px;
  color: #FFF;
}
.upload-work-cell .upload-progress {
  display: none;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 8px;
  background-color: rgba(0, 0, 0, 0.5);
}
.upload-work-cell .upload-progress .progress-bar {
  height: 8px;
  background-color: #59bd00;
}
.upload-work-cell p.work-info-title {
  margin: 8px 0 4px 2px;
  font-weight: bold;
  font-size: 14px;
}
.upload-work-cell p.work-info-date {
  font-size: 12px;
}
.upload-work-cell .form-control {
  height: 34px;
  margin-top: 4px;
  border-radius: 0px;
  font-size: 18px;
  border-color: #f6f6f6;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
  -webkit-transition: border-color ease-in-out 0s, box-shadow ease-in-out 0s;
  transition: border-color ease-in-out 0s, box-shadow ease-in-out 0s;
}
.upload-work-cell .upload-work-btns {
  display: none;
}
.upload-work-cell .btn {
  position: absolute;
  top: -8px;
  width: 28px;
  height: 28px;
  border: 2px solid #FFF;
  background-color: #000;
  border-radius: 25px;
  opacity: 0.6;
  line-height: 25px;
  text-align: center;
  color: #FFF;
  font-size: 14px;
}
.upload-work-cell .btn-check {
  left: -8px;
}
.upload-work-cell .btn-del {
  right: -8px;
}
.upload-work-cell .video-play-btn {
  position: absolute;
  width: 49px;
  height: 49px;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  background-position: -203px -226px;
}
.upload-work-cell:hover {
  background-color: #e5e5e5;
}
.upload-work-cell:hover .upload-work-btns {
  display: block;
}
.upload-work-cell:hover .form-control {
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.upload-work-cell.focus .upload-work-img {
  border: 4px solid #eb6100;
}
.import-list .upload-work-cell.focus .upload-work-img {
  border-color: #f39800;
}
.upload-work-cell.status-error .upload-work-status.error,
.upload-work-cell.status-success .upload-work-status.success,
.upload-work-cell.status-uploading .upload-work-status.uploading,
.upload-work-cell.status-uploading .upload-progress,
.upload-work-cell.status-error .upload-work-mask,
.upload-work-cell.status-success .upload-work-mask,
.upload-work-cell.status-uploading .upload-work-mask,
.upload-work-cell.focus .checked {
  display: block;
}
a.btn-prev,
a.btn-next {
  position: absolute;
  top: 50%;
  width: 65px;
  height: 66px;
  margin-top: -33px;
  line-height: 300px;
  overflow: hidden;
  cursor: pointer;
}
a.btn-prev {
  background-position: 0 -200px;
  left: -94px;
}
a.btn-next {
  background-position: -66px -200px;
  right: -94px;
}
.logined-box {
  display: none;
}
.nologin-box {
  display: block;
}
.logined .logined-box {
  display: block;
}
.logined .nologin-box {
  display: none;
}
hr {
  border: 0;
  height: 1px;
  margin: 11px 0 11px 0;
  background-color: #f4f4f4;
}
.hide {
  display: none;
}
.show {
  display: block;
}
