// 登录注册
.account .page{width:100%;padding:32px 0 45px 0;background-color:#f4f4f4;}
.account .page .container{width:990px;}

.account-warp{position:relative;width:100%;min-height:371px;padding:70px 110px 45px 90px;border:1px solid #dcdcdc;background-color:#fff;overflow:hidden;}
.account-warp h1{position:absolute;width:100%;top:0px;left:0px;padding:23px 0px 18px 90px;margin:0;border-bottom:1px solid #d6d6d6;font-size:@font-size-h1;color:#434343;}
.account-warp .account-text{position: absolute;top: -35px;left: 0px; padding-bottom:20px;font-size:@font-size-normal;color:#898989;}
.account-warp .form-control{font-size:20px;}

.account-warp .login-quick,
.account-warp .account-form{margin-top: 50px;}

.account-warp .login-quick{position:relative;float:left;width:330px;padding-right:78px;border-right:1px solid #d6d6d6;}
.account-warp .login-quick-link{display:block;width:252px;height:49px;line-height:300px;margin-bottom:9px;overflow:hidden;}
.account-warp .login-quick-link.fb{background-position:0 0;}
.account-warp .login-quick-link.tw{background-position:0 -50px;}
.account-warp .login-quick-link.gg{background-position:0 -100px;}
.account-warp .login-quick-link.wb{background-position:0 -150px;}

.account-warp .account-form{position:relative;float:left;width:328px;margin-left:100px;}
.account-warp .account-form .title{margin-bottom:10px;font-size:20px;font-weight:bold;color:#7d7d7d;}
.account-warp .account-form .form-control{border-radius:2px;color:#959595;}
.account-warp .button-green,
.account-warp .button-login,
.account-warp .button-signup{width:100%;padding:@button-large-width-all;text-align:center;font-size:18px;background-color:#5abe00;}

.account-warp .account-form-other p{padding-top:18px;font-size:12px;color:#7d7d7d;}
.account-warp .account-form-other p a{font-size:12px;color:#00abd0;}

// 忘记密码
.account.forgot-pwd .account-warp{width: 505px;margin: 0 auto;padding:70px 90px 45px 90px;}
.account-forgot-pwd{width: 100%;margin: 0 auto;padding-top:25px;}
.account-forgot-pwd .title{margin-bottom:20px;font-size:@font-size-normal;color: #959595;font-weight: normal;}