/* 样式重置 */
.fullscreen .btn-prev{left: 10px;}
.fullscreen .btn-next{right: 10px;}
.fullscreen .title-text,
.fullscreen .work-user-name{color: #FFF;}

.fullscreen{background-color: #000;}
.fullscreen-header{width:100%;padding: 20px 60px 0;}

.fullscreen-img-wrapper{position: relative; height: 100%;padding:80px 60px;text-align: center;}
.fullscreen-img{display: none;}

.fullscreen-toolbar{position: absolute;width:100%;bottom: 15px;left: 0px; color: #FFF;}
.fullscreen-toolbar .work-single-toolbar{float: none;width: 650px;margin: 0 auto;}