
.logined-box{display:none;}
.nologin-box{display:block;}

.logined .logined-box{display:block;}
.logined .nologin-box{display:none;}

hr{border: 0;height: 1px;margin:11px 0 11px 0;background-color:#f4f4f4;}

.hide{display: none;}
.show{display: block;}