
a.btn-prev,a.btn-next{position:absolute;top:50%;width:65px;height:66px;margin-top:-33px;line-height:300px;overflow:hidden;cursor: pointer;}
a.btn-prev{background-position:0 -200px;left:-94px;}
a.btn-next{background-position:-66px -200px;right:-94px;}

.logined-box{display:none;}
.nologin-box{display:block;}

.logined .logined-box{display:block;}
.logined .nologin-box{display:none;}

hr{border: 0;height: 1px;margin:11px 0 11px 0;background-color:#f4f4f4;}

.hide{display: none;}
.show{display: block;}