.pop-mask{display: none;position: fixed;top:0px;left:0px;width: 100%;height: 100%;background-color: #000;opacity:.5;filter: Alpha(opacity=50);z-index: 99998;}

.pop.small{width: 642px;margin-left:-321px;}
.pop.normal{width: 800px;margin-left:-400px;}
.pop.large{width: 1000px;margin-left:-500px;}
.pop{display: none;position:absolute;top:10%;left:50%;padding: 25px;background-color:#FFFFFF;color: #626262;z-index: 99999;}
.pop .pop-close-btn{position: absolute;right: 4px;top: 8px;font-size: 18px;color: #9f9f9f;}
.pop .pop-btns-line{width: 100%;padding-top:28px;border-top:1px solid #d6d6d6;text-align: right;}
.pop .pop-btns-line .button{padding-left:25px;padding-right: 25px;margin-left: 8px;}
