/* work-single */
.work-single-top{width:100%;min-height:524px;padding-top:15px;background:#000;}
.work-single-cont{position:relative;}
.work-single-info{width:100%;height:65px;border-top:1px solid #ddddde;border-bottom:1px solid #ddddde;background:#eeeeef;}

.work-single-title{float:left;max-width:418px;line-height:65px;font-size:18px;color:#1b1b1b;}
.work-single-other{float:right;margin-top:24px;}
.work-single-other li{display:inline-block;float:left;height:14px;padding:0 20px;border-right:1px solid #959595;}
.work-single-other .grade{display:block;margin-top:-11px;font-size:24px;color:#434343;}
.work-single-other .star{display:block;margin-top:-2px;}
.work-single-other .icon-link{display:block;font-size:12px;line-height:12px;}
.work-single-other .icon{display:inline-block;float:left;width:18px;height:18px;}
.work-single-other .num{float:left;padding-left:10px;font-size:13px;line-height:18px;color:#5e5b5b;}
.work-single-other .icon-like{background:url(../img/like.png) no-repeat;}
.work-single-other .icon-favorites{background:url(../img/favorites.png) no-repeat;}
.work-single-other .icon-share{background:url(../img/share_s.png) no-repeat;}
.work-single-other .icon-full{background:url(../img/Full.png) no-repeat;}

.work-single-other li{position:relative;}
.work-single-other .work-single-share{position:absolute;width:235px;height:91px;top:-117px;left:-92px;padding:20px 19px;background:url(../img/share_bg.png) no-repeat;}
.work-single-other .work-single-share .share-link{display:inline-block;float:left;width:47px;height:47px;margin:0 5px;}
.work-single-other .work-single-share .fb{background:url(../img/circle_fb.jpg) no-repeat;}
.work-single-other .work-single-share .tw{background:url(../img/circle_tw.jpg) no-repeat;}
.work-single-other .work-single-share .wb{background:url(../img/circle_wb.jpg) no-repeat;}
.work-single-other .work-single-share .gg{background:url(../img/circle_gg.jpg) no-repeat;}

.work-single-bot{width:100%;min-height:500px;margin:25px 0;font-size:14px;}
.work-single-bot .left-cont{float:left;width:664px;height:100%;padding-right:25px;border-right:1px solid #E5E5E5;}
.work-single-bot .right-cont{float:right;width:296px;height:100%;padding-left:30px;}

.work-single-desc{margin-bottom:25px;}
.work-single-desc .title{width:100%;margin-bottom:10px;color:#7D7D7D;font-size:16px;font-weight:bold;}
.work-single-desc .text{width:100%;font-size:14px;color:#626262;text-align:justify;}

.work-single-append{width:100%;color:#626262;line-height:22px;overflow:hidden;}

.work-single-userinfo{position:relative;width:100%;min-height:100px;margin-bottom:20px;}
.work-single-userinfo .left{position:absolute;top:0px;left:0px;width:74px;overflow:hidden;}
.work-single-userinfo .left img{display:block;margin-bottom:6px;}
.work-single-userinfo .left .vip{display:block;width:100%;height:19px;background-color:#ff6600;color:#FFF;line-height:19px;text-align:center;}
.work-single-userinfo .right{width:100%;padding-left:84px;}
.work-single-userinfo .right .name{padding-bottom:8px;font-size:14px;color:#000;font-weight:bold;}
.work-single-userinfo .right .intro{font-size:12px;color:#707070;}

.work-single-userwork{width:100%;padding-bottom:13px;margin-bottom:20px;border-bottom:1px solid #e5e5e5;overflow:hidden;}
.work-single-userwork.no-border{border:none;}
.work-single-userwork .title{width:100%;padding-bottom:18px;color:#7d7d7d;overflow:hidden;}
.work-single-userwork ul{width:105%;}
.work-single-userwork li{display:inline-block;float:left;width:82px;height:82px;margin:0 10px 10px 0;}

.work-single-tags{width:100%;margin-bottom:20px;padding-bottom:23px;border-bottom:1px solid #e5e5e5;overflow:hidden;}
.work-single-tags .title{padding-bottom:12px;font-size:16px;color:#7d7d7d;font-weight:bold;overflow:hidden;}
.work-single-tags .links{color:#a0a0a0;line-height:20px;}
.work-single-tags .links a{color:#a0a0a0;}
.work-single-tags .links a:hover{color:#7d7d7d;}
.work-single-tags .links span{display:inline-block;padding:0 12px;}

.fullscreen-toolbar span{padding-top: 3px;}