// upload相关
//------------------------------------------------------------------
.upload-page-bg{background-color:rgba(0, 0, 0, 0.75);}
.upload-page .manage-pagecont-warp{padding: 25px 0 25px 16px;}

.upload{width:846px;min-height:644px;margin:0 auto;color: #fff;}

.upload .upload-tab{width: 100%;height: 142px;border-bottom: 1px solid #808889;padding-top: 52px;}
.upload .upload-tab .tab-item{display: inline-block;float: left; width: 50%;padding:20px 10px;}
.upload .upload-tab .tab-item a.fake-link{display: block; width: 100%;color: #f2f4f5;text-align: center;font-size: 32px;}
.upload .upload-tab .tab-item.last a.fake-link{border: none;}
.upload .upload-tab .tab-item.active{background-color: rgba(255, 255, 255, 0.25);background-color: #405f65 \9;border-radius: 5px;}
.upload .upload-tab .tab-item.active a.fake-link{font-weight:normal;}

.upload .upload-photo{display: none;width: 100%;padding-top:137px;text-align: center;}
.upload .upload-photo .button{padding: @button-large;font-size: 30px;text-shadow: 2px 2px 2px rgba(0,0,0,0.2);}
.upload .upload-photo .upload-photo-text{padding-top:25px;font-size: 18px;}

.upload .upload-video{display: none;width: 100%;padding-top: 66px;text-align: center;} 
.upload .upload-video .upload-video-text{font-size:30px;color: #FFF;}
.upload .upload-video .video-platform{width: 100%;padding-top: 60px; overflow: hidden;}
.upload .upload-video a{display: inline-block;width: 172px;height: 91px;margin:0 9px;line-height: 300px;overflow: hidden;}
.upload .upload-video a.youtube{background-position: -253px 0;}
.upload .upload-video a.vimeo{background-position: -253px -92px;}
.upload .upload-video a.youku{background-position: -253px -184px;}

.upload.show-photo .upload-photo,
.upload.show-video .upload-video{display: block;}


// sidebar
.upload-edit-sidebar{position: absolute;top: 0px;left: 15px;width: 255px;padding-top:26px;color:#707070;z-index: 22;}
.upload-edit-sidebar input,
.upload-edit-sidebar textarea{font-size:18px;color: #bfbfbf;}
.upload-edit-sidebar label{font-weight: normal;}
.upload-edit-sidebar .form-control{background-color: #f8f8f8;}
.upload-edit-sidebar .form-control:focus{background-color: #FFFFFF;color: #555;}
.upload-edit-sidebar .input-margin-bottom{margin-bottom: 4px;}

.upload-edit-sidebar .edit-status{width: 100%;height: 52px;font-size:18px;line-height: 52px;}
.upload-edit-sidebar .single-line{width: 100%;margin-bottom: 12px;}
.upload-edit-sidebar .label-radio{width: 40%;}

.upload-edit-sidebar .button{width: 100%;margin-bottom:14px;padding-top: @button-large-width-all;text-align: center;font-size: 18px;}
.upload-edit-sidebar .button-select{background-color: #59bd00;color: #fff;}
.upload-edit-sidebar .button-confirm{margin-bottom:4px;background-color: #00abd0;color: #fff;}

.upload-edit-sidebar .button-subsidiary{width: 120px;height: 40px;background-color: #eeeeee;border: 1px solid #dcdcdc;border-radius: 4px;font-size: 16px;color: #7d7d7d;line-height: 20px;}
.upload-edit-sidebar .icon{display: inline-block;float:left;width: 16px;height: 16px;}
.upload-edit-sidebar .icon-edit-all{background-position: -475px -99px;}
.upload-edit-sidebar .icon-add{background-position: -475px -117px;}

// 作品上传单元格
.upload-cell-warp{width: 105%;}
.upload-work-cell{position: relative;float:left; width:180px;padding: 9px 7px;margin-bottom: 24px;}
.upload-work-cell.video{width: 225px;}
.import-list .upload-work-cell.video{margin: 16px 6px 8px 6px;}

.upload-work-cell .upload-work-img{position: relative; width: 100%;height: 166px; border:4px solid #959595;background:#FFF url(../img/loading.gif) no-repeat center center;overflow: hidden;}
.upload-work-cell.video .upload-work-img{width: 100%;height: 158px;}
.upload-work-cell .upload-work-preview{text-align: center;}

.upload-work-cell .upload-work-img img{display: block;}
.upload-work-cell .upload-work-mask{display: none; position: absolute;top: 0px;left: 0px; width: 100%;height: 100%;background-color: #000;opacity: .7;}
.upload-work-cell .upload-work-status{display: none; position: absolute;top:50%;left:2%; width: 96%;height: 33px;margin-top:-16px;line-height: 33px;color: #FFF;font-size: 18px;text-align: center;}
.upload-work-cell .upload-work-status.error{background-color:#8b0202;}
.upload-work-cell .checked{display: none; position: absolute;top:0px;right:0px;width: 34px;height: 30px;background-color: #f39800;text-align: center;line-height: 30px;font-size: 24px;color: #FFF;}

.upload-work-cell .upload-progress{display: none; position: absolute;left:0px;bottom:0px;width: 100%;height: 8px;background-color: rgba(0, 0, 0, 0.5);}
.upload-work-cell .upload-progress .progress-bar{height: 8px;background-color: #59bd00;}

.upload-work-cell p.work-info-title{width:100%;height:15px;margin:8px 0 4px 2px;font-weight:bold;font-size:@font-size-normal;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow: hidden;}
.upload-work-cell p.work-info-date{font-size:@font-size-small;}

.upload-work-cell .form-control{height: 34px;margin-top: 4px;border-radius: 0px;font-size: 16px;border-color:#f6f6f6;color: #959595;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.0);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.0);
	-webkit-transition: border-color ease-in-out 0s, box-shadow ease-in-out 0s;
	transition: border-color ease-in-out 0s, box-shadow ease-in-out 0s;}
.upload-work-cell .form-control:focus{color: #555;}
.upload-work-cell .upload-work-btns{display: none;}

.upload-work-cell .btn{position: absolute;top: -8px;width: 28px;height: 28px;border: 2px solid #FFF;background-color:#000;border-radius: 25px; opacity:0.6;line-height: 25px;text-align: center;color: #FFF;font-size: 14px;}
.upload-work-cell .btn-check{left:-8px;}
.upload-work-cell .btn-del{right:-8px;}
.upload-work-cell .video-play-btn{position: absolute;width: 49px;height: 49px;top: 50%;left: 50%;margin: -25px 0 0 -25px; background-position: -203px -226px;}

.upload-work-cell:hover{background-color:#e5e5e5; }
.upload-work-cell:hover .upload-work-btns{display: block;}
.upload-work-cell:hover .form-control{border: 1px solid #ccc;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);}

.upload-work-cell.focus .upload-work-img{border:4px solid #eb6100;}
.import-list .upload-work-cell.focus .upload-work-img{border-color: #f39800;}

.upload-work-cell.status-error .upload-work-status.error,
.upload-work-cell.status-success .upload-work-status.success,
.upload-work-cell.status-uploading .upload-work-status.uploading,
.upload-work-cell.status-uploading .upload-progress,
.upload-work-cell.status-error .upload-work-mask,
.upload-work-cell.status-success .upload-work-mask,
.upload-work-cell.status-uploading .upload-work-mask,
.upload-work-cell.focus .checked{display: block;}

