
.upload-page-bg{background-color:rgba(0, 0, 0, 0.75);}

.upload{width:846px;min-height:644px;margin:0 auto;color: #fff;}

.upload .upload-tab{width: 100%;height: 142px;border-bottom: 1px solid #808889;}
.upload .upload-tab .tab-item{display: inline-block;float: left; width: 50%;height: 100%;padding-top: 52px;}
.upload .upload-tab .tab-item a.fake-link{display: block; width: 100%;border-right:1px solid #f2f4f5; color: #f2f4f5;text-align: center;font-size: 42px;font-weight: lighter;}
.upload .upload-tab .tab-item.last a.fake-link{border: none;}
.upload .upload-tab .tab-item.active a.fake-link{font-weight:normal;}

.upload .upload-photo{display: none;width: 100%;padding-top:137px;text-align: center;}
.upload .upload-photo .button{padding: @button-large;font-size: 30px;text-shadow: 2px 2px 2px rgba(0,0,0,0.2);}
.upload .upload-photo .upload-photo-text{padding-top:25px;font-size: 18px;}

.upload .upload-video{width: 100%;padding-top: 66px;text-align: center;} 
.upload .upload-video .upload-video-text{font-size:30px;color: #FFF;}
.upload .upload-video .video-platform{width: 100%;padding-top: 60px; overflow: hidden;}
.upload .upload-video a{display: inline-block;width: 172px;height: 91px;margin:0 9px;line-height: 300px;overflow: hidden;}
.upload .upload-video a.youtube{background-position: -253px 0;}
.upload .upload-video a.vimeo{background-position: -253px -92px;}
.upload .upload-video a.youku{background-position: -253px -184px;}